/* ------------------ Base Styles ------------------ */
a {
    color: rgb(136, 135, 135);
    text-decoration: none;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(26, 17, 34);
    margin: 0;
}

.cursor {
    display: inline-block;
    color: rgb(193, 134, 223);
    animation: blink 0.7s steps(1) infinite;
    vertical-align: baseline;
    font-size: 1em;
    line-height: 1;
    margin-left: 2px;
}

.projects-list-item {
    cursor: pointer;
}

#typed-text {
    color: rgb(193, 134, 223);
}

@keyframes blink {
    50% { opacity: 0; }
}


/* ------------------ Desktop Styles ------------------ */
@media screen and (min-width: 1025px) {
    .nav-bar {
        width: 100%;
        height: 70px;
        top: 0;
        left: 0;
        position: sticky;
        box-shadow: 1px 1px 100px rgb(51, 49, 53);
        display: flex;
        justify-content: space-between;
    }

    .menu-option {
        display: none;
    }

    .portfolio > h2 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 50px;
    }

    .links {
        display: flex;
        align-items: flex-end;
        color: rgb(136, 135, 135);
        gap: 40px;
        padding-right: 50px;
        font-size: 1.4em;
    }

    .link > hr {
        bottom: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        visibility: hidden;
    }

    .link {
        cursor: pointer;
        position: relative;
        transition: transform 0.3s ease-in-out;
    }

    .link:hover {
        color: rgb(186, 184, 184);
        transform: scale(1.3);
    }

    .link:hover hr {
        visibility: visible;
    }

    .hero-section {
        width: 100%;
        height: 500px;
    }

    .hero-circle {
        float: right;
        position: relative;
        width: 300px;
        aspect-ratio: 1/1;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        justify-self: flex-end;
        top: 15%;
        right: 10%;
        border: 4px outset rgb(52, 140, 188);
        transition: transform 0.3s ease-in;
        overflow: hidden;
    }

    .hero-circle > img {
        width: 450px;
        margin-top: -50px;
        margin-left: -100px;
    }

    .hero-circle:hover {
        transform: scale(1.3);
    }

    .hero-text {
        float: left;
        color: rgb(245, 245, 245);
        font-size: 2em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 50px;
        margin-left: 50px;
    }

    .hero-text > h2 {
        margin: 0;
        transition: text-decoration 0.3s ease;
    }

    .name {
        position: relative;
        cursor: pointer;
        display: inline-block;
    }

    .name::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        transition: width 0.3s;
    }

    .name:hover::after {
        width: 100%;
    }

    .hero-text > h4 {
        margin: 10px auto;
    }

    .hero-text > p {
        margin-top: 0px;
        width: 700px;
        font-size: 0.9em;
        color: rgb(128, 128, 128);
    }

    .about {
        width: 100%;
        height: auto;
        background: rgb(40, 15, 47);
        clip-path: polygon(0 5%, 30% 0, 100% 15%, 100% 100%, 0 100%);
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .about-title {
        position: relative;
        margin-left: 100px;
        color: rgb(240, 255, 255);
        font-size: 4em;
        display: inline-block;
    }

    .about-title::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        transition: width 0.3s;
    }

    .about:hover .about-title::after {
        width: 100%;
    }

    .about > p {
        font-size: 2em;
        padding-left: 60px;
        padding-right: 80px;
        color: rgb(211, 211, 211);
        margin-top: 0;
    }

    .skills {
        width: 100%;
        height: auto;
        background: rgb(46, 25, 62);
        clip-path: polygon(0 5%, 80% 0, 100% 3%, 100% 100%, 0 100%);
        padding-top: 30px;
        padding-bottom: 40px;
        margin-top: -50px;
        color: rgb(245, 245, 245);
    }

    .skills-title {
        position: relative;
        margin-left: 100px;
        color: rgb(240, 255, 255);
        font-size: 4em;
        display: inline-block;
        margin-bottom: 10px;
    }

    .skills-title::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        transition: width 0.3s;
    }

    .skills:hover .skills-title::after {
        width: 100%;
    }

    .skills > p {
        font-size: 1.5em;
        color: rgb(105, 105, 105);
        margin-top: 0;
        margin-left: 100px;
    }

    .skill {
        border: 2px ridge rgb(139, 96, 162);
        border-radius: 10px;
        padding: 20px;
        padding-top: 0;
        margin: 40px auto;
        width: 35%;
        max-width: 800px;
        text-align: center;
        box-shadow: 0px 0px 20px rgb(105, 105, 105);
        transition: transform 0.3s ease-in-out;
    }

    .skill:hover {
        transform: scale(1.3);
    }

    .skill > h2 {
        font-size: 2em;
        margin-bottom: 20px;
        color: rgb(240, 255, 255);
    }

    .skill-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .skill-tab {
        border: 1px solid rgb(169, 169, 169);
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 1.5em;
        color: rgb(172, 172, 172);
        display: flex;
        align-items: center;
        gap: 10px;
        background: rgba(255, 255, 255, 0.05);
        transition: transform 0.3s ease;
    }

    .skill-tab:hover {
        transform: scale(1.05);
    }

    .skill-tab img {
        height: 25px;
        width: 25px;
    }

    .experience {
        width: 100%;
        height: auto;
        background: rgb(22, 8, 33);
        clip-path: polygon(0 5%, 50% 0, 100% 3%, 100% 100%, 0 100%);
        padding-top: 30px;
        padding-bottom: 100px;
        margin-top: -30px;
        color: rgb(245, 245, 245);
    }

    .experience-title {
        position: relative;
        margin-left: 100px;
        color: rgb(240, 255, 255);
        font-size: 4em;
        display: inline-block;
        margin-bottom: 10px;
    }

    .experience-title::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        transition: width 0.3s;
    }

    .experience:hover .experience-title::after {
        width: 100%;
    }

    .experience > p {
        font-size: 1.5em;
        color: rgb(105, 105, 105);
        margin-top: 0;
        margin-left: 100px;
    }

    .experience-list {
        justify-self: center;
        color: purple;
    }

    .experience-list-items {
        list-style-type: none;
        padding-left: 0;
        font-size: 2em;
    }

    .experience-list-items li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
    }

    .experience-list-items li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 5px solid rgb(120, 64, 163);
    }

    .experience-item {
        border: 2px groove rgb(105, 105, 105);
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgb(211, 211, 211);
        width: 500px;
        height: 200px;
        overflow: hidden;
        transition: height 1s ease-in-out;
        margin-left: 10px;
    }

    .experience-item:hover {
        height: auto;
    }

    .experience-item > img {
        width: 75px;
        float: left;
        margin: 10px;
    }

    .experience-role {
        color: rgb(184, 184, 184);
        margin-top: 6px;
        font-size: 0.8em;
    }

    .experience-company {
        color: rgb(120, 120, 120);
        font-size: 0.6em;
        margin-top: -25px;
    }

    .experience-duration {
        color: rgb(87, 87, 87);
        font-size: 0.4em;
        margin-top: -20px;
    }

    .experience-descr {
        color: rgb(120, 120, 120);
        font-size: 0.6em;
        margin: auto 20px;
        text-indent: 30px;
        margin-bottom: 10px;
    }

    .projects {
        width: 100%;
        height: auto;
        background: rgb(40, 15, 47);
        clip-path: polygon(0 5%, 30% 0, 100% 5%, 100% 100%, 0 100%);
        margin-top: -100px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .projects-title {
        position: relative;
        margin-left: 100px;
        color: rgb(240, 255, 255);
        font-size: 4em;
        display: inline-block;
        margin-bottom: 10px;
    }

    .projects-title::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        transition: width 0.3s;
    }

    .projects:hover .projects-title::after {
        width: 100%;
    }

    .projects > p {
        font-size: 1.5em;
        color: rgb(105, 105, 105);
        margin-top: 0;
        margin-left: 100px;
    }

    .projects-list-row {
        width: 90%;
        margin: auto;
        display: flex;
        padding: 10px;
        gap: 5%;
        justify-content: center;
        margin-bottom: 30px;
    }

    .projects-list-item {
        border: 2px ridge rgb(139, 96, 162);
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgb(77, 77, 77);
        width: 30%;
        height: auto;
        text-align: center;
    }

    .projects-list-item > img {
        width: 80%;
        border-radius: 10px;
        margin-top: 30px;
    }

    .projects-list-item > h2 {
        color: rgb(184, 184, 184);
        font-size: 1.4em;
        font-family: Arial, Helvetica, sans-serif;
    }

    .projects-list-item > p {
        color: rgb(139, 139, 139);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .projects-skills {
        display: flex;
        margin-left: 10px;
        gap: 10px;
    }

    .projects-skills > span {
        border: 2px solid rgb(79, 38, 79);
        padding: 5px;
        border-radius: 20px;
        background-color: rgb(68, 35, 68);
        color: rgb(143, 104, 181);
    }

    .education {
        width: 100%;
        height: auto;
        background: rgb(46, 25, 62);
        clip-path: polygon(0 5%, 80% 0, 100% 3%, 100% 100%, 0 100%);
        padding-top: 30px;
        padding-bottom: 40px;
        margin-top: -50px;
        color: rgb(245, 245, 245);
    }

    .education-title {
        position: relative;
        margin-left: 100px;
        color: rgb(240, 255, 255);
        font-size: 4em;
        display: inline-block;
        margin-bottom: 10px;
    }

    .education-title::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        transition: width 0.3s;
    }

    .education:hover .education-title::after {
        width: 100%;
    }

    .education > p {
        font-size: 1.5em;
        color: rgb(105, 105, 105);
        margin-top: 0;
        margin-left: 100px;
    }

    .education-list {
        justify-self: center;
        color: purple;
    }

    .education-list-items {
        list-style-type: none;
        padding-left: 0;
    }

    .education-list-items li {
        position: relative;
        padding-right: 30px;
        margin-bottom: 10px;
    }

    .education-list-items li::before {
        content: "";
        position: absolute;
        right: 0;
        top: 8px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 5px solid rgb(120, 64, 163);
    }

    .education-item {
        border: 2px groove rgb(105, 105, 105);
        border-radius: 10px;
        box-shadow: -2px 2px 10px rgb(211, 211, 211);
        width: 700px;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    .education-item > img {
        width: 60px;
        float: left;
        margin: 10px;
    }

    .education-institute {
        color: rgb(184, 184, 184);
        margin-top: 6px;
        font-size: 1.5em;
    }

    .education-degree {
        color: rgb(120, 120, 120);
        font-size: 1.2em;
        margin-top: -25px;
    }

    .education-duration {
        color: rgb(87, 87, 87);
        font-size: 0.9em;
        margin-top: -20px;
    }

    .education-descr {
        color: rgb(120, 120, 120);
        font-size: 1.2em;
        margin: auto 20px;
        text-indent: 30px;
        margin-bottom: 10px;
    }
}

/* ------------------ Tablet Styles ------------------ */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-bar {
        width: 100%;
        height: 80px;
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        box-shadow: 1px 1px 80px rgb(51, 49, 53);
    }

    .portfolio > h2 {
        font-size: 1.5em;
        padding-left: 40px;
    }

    .links {
        gap: 30px;
        padding-right: 40px;
        font-size: 1.2em;
    }

    .hero-section {
        height: 600px;
    }

    .hero-circle {
        width: 250px;
        right: 5%;
    }

    .hero-circle > img {
        width: 350px;
        margin-top: -30px;
        margin-left: -90px;
    }

    .cursor {
        font-size: 0.95em;
        vertical-align: baseline;
    }

    .hero-text {
        font-size: 1.5em;
        margin-left: 40px;
        margin-top: 60px;
    }

    .hero-text > p {
        width: 90%;
        font-size: 0.85em;
    }

    .about-title, .skills-title, .experience-title, .projects-title, .education-title {
        margin-left: 60px;
        font-size: 3em;
    }

    .about > p, .skills > p, .experience > p, .projects > p, .education > p {
        font-size: 1.3em;
        margin-left: 60px;
        margin-right: 40px;
    }

    .skill {
        width: 60%;
    }

    .projects-list-row {
        flex-direction: column;
        align-items: center;
    }

    .projects-list-item {
        width: 80%;
    }

    .projects-list-item > img {
        width: 80%;
        border-radius: 10px;
        margin-top: 30px;
    }

    .projects-list-item > h2 {
        color: rgb(184, 184, 184);
        font-size: 1.4em;
        font-family: Arial, Helvetica, sans-serif;
    }

    .projects-list-item > p {
        color: rgb(139, 139, 139);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .projects-skills {
        display: flex;
        margin-left: 10px;
        gap: 10px;
    }

    .projects-skills > span {
        border: 2px solid rgb(79, 38, 79);
        padding: 5px;
        border-radius: 20px;
        background-color: rgb(68, 35, 68);
        color: rgb(143, 104, 181);
    }

    .education-item {
        width: 90%;
        margin: auto;
    }
}

/* ------------------ Mobile Styles ------------------ */
@media screen and (max-width: 767px) {
    * {
        overflow-x: hidden;
    }

    .nav-bar {
        width: 100%;
        height: 100px;
        position: sticky;
        top: 0;
        left: 0;
        box-shadow: 1px 1px 100px rgb(51, 49, 53);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        z-index: 999;
    }

    .portfolio > h2 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 30px;
        font-size: 1em;
    }

    .menu-option {
        color: white;
        font-size: 1.5em;
        cursor: pointer;
    }

    .links {
        position: fixed;
        top: 70px;
        right: 20px;
        background-color: rgb(39, 29, 50);
        padding: 10px 20px;
        display: none;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
        opacity: 0;
        pointer-events: none;
        z-index: 9999;
    }

    .links.show {
        display: flex !important;
        flex-direction: column;
        gap: 10px;
        opacity: 1;
        pointer-events: auto;
    }

    .link {
        padding: 10px 0;
        color: rgb(136, 135, 135);
        font-size: 1em;
        cursor: pointer;
    }

    .link:hover {
        color: white;
    }

    .link > hr {
        visibility: hidden;
    }

    .hero-section {
        width: 100%;
        height: 800px;
    }

    .hero-circle {
        position: relative;
        width: 300px;
        aspect-ratio: 1/1;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        justify-self: flex-end;
        margin: auto auto;
        border: 4px outset rgb(52, 140, 188);
        transition: transform 0.3s ease-in;
        overflow: hidden;
    }

    .hero-circle > img {
        width: 350px;
        margin-top: 0;
        margin-left: -50px;
    }

    .cursor {
        font-size: 0.95em;
        vertical-align: baseline;
    }

    .hero-text {
        color: rgb(245, 245, 245);
        font-size: 2em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 70px;
    }

    .hero-text > h2 {
        margin: 0;
        transition: text-decoration 0.3s ease;
        text-align: center;
        font-size: 0.95em;
    }

    .name {
        position: relative;
        cursor: pointer;
    }

    .hero-text > h4 {
        margin: 10px auto;
        text-align: center;
    }

    .hero-text > p {
        margin-top: 0px;
        width: 100%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.7em;
        color: rgb(128, 128, 128);
    }

    .about {
        width: 100%;
        height: auto;
        background: rgb(40, 15, 47);
        clip-path: polygon(0 2%, 30% 0, 100% 3%, 100% 100%, 0 100%);
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .about-title {
        position: relative;
        margin-left: 40px;
        color: rgb(240, 255, 255);
        font-size: 3em;
        display: inline-block;
    }

    .about-title::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        transition: width 0.3s;
    }

    .about:hover .about-title::after {
        width: 100%;
    }

    .about > p {
        font-size: 1em;
        padding-left: 30px;
        padding-right: 10px;
        color: rgb(211, 211, 211);
        margin-top: 0;
    }

    .skills {
        width: 100%;
        height: auto;
        background: rgb(46, 25, 62);
        clip-path: polygon(0 2%, 80% 0, 100% 1%, 100% 100%, 0 100%);
        padding-top: 30px;
        padding-bottom: 40px;
        margin-top: -40px;
        color: rgb(245, 245, 245);
    }

    .skills-title {
        position: relative;
        margin-left: 40px;
        color: rgb(240, 255, 255);
        font-size: 3em;
        display: inline-block;
        margin-bottom: 10px;
    }

    .skills-title::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        transition: width 0.3s;
    }

    .skills:hover .skills-title::after {
        width: 100%;
    }

    .skills > p {
        color: rgb(105, 105, 105);
        margin-top: -10px;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .skill {
        border: 2px ridge rgb(139, 96, 162);
        border-radius: 10px;
        padding: 20px;
        padding-top: 0;
        width: 80%;
        text-align: center;
        box-shadow: 0px 0px 20px rgb(105, 105, 105);
    }

    .skill > h2 {
        font-size: 2em;
        margin-bottom: 20px;
        color: rgb(240, 255, 255);
    }

    .skill-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .skill-tab {
        border: 1px solid rgb(169, 169, 169);
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 1.5em;
        color: rgb(172, 172, 172);
        display: flex;
        align-items: center;
        gap: 10px;
        background: rgba(255, 255, 255, 0.05);
        transition: transform 0.3s ease;
    }

    .skill-tab:hover {
        transform: scale(1.05);
    }

    .skill-tab img {
        height: 25px;
        width: 25px;
    }

    .experience {
        width: 100%;
        height: auto;
        background: rgb(22, 8, 33);
        clip-path: polygon(0 5%, 50% 0, 100% 3%, 100% 100%, 0 100%);
        padding-top: 30px;
        padding-bottom: 100px;
        margin-top: -30px;
        color: rgb(245, 245, 245);
    }

    .experience-title {
        position: relative;
        margin-left: 40px;
        color: rgb(240, 255, 255);
        font-size: 3em;
        display: inline-block;
        margin-bottom: 1px;
    }

    .experience-title::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        transition: width 0.3s;
    }

    .experience:hover .experience-title::after {
        width: 100%;
    }

    .experience > p {
        font-size: 1em;
        color: rgb(105, 105, 105);
        margin-top: 0;
        margin-left: 40px;
    }

    .experience-list {
        justify-self: center;
        color: purple;
    }

    .experience-list-items {
        list-style-type: none;
        padding-left: 0;
        font-size: 2em;
    }

    .experience-list-items li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
    }

    .experience-list-items li::before {
        content: "";
        position: absolute;
        left: 10px;
        top: 8px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid rgb(120, 64, 163);
    }

    .experience-item {
        border: 2px groove rgb(105, 105, 105);
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgb(211, 211, 211);
        width: 90%;
        height: 200px;
        overflow: hidden;
        transition: height 1s ease-in-out;
        margin-left: 5px;
    }

    .experience-item:hover {
        height: auto;
    }

    .experience-item > img {
        width: 75px;
        float: left;
        margin: 10px;
    }

    .experience-role {
        color: rgb(184, 184, 184);
        margin-top: 6px;
        font-size: 0.8em;
    }

    .experience-company {
        color: rgb(120, 120, 120);
        font-size: 0.6em;
        margin-top: -25px;
    }

    .experience-duration {
        color: rgb(87, 87, 87);
        font-size: 0.4em;
        margin-top: -20px;
    }

    .experience-descr {
        color: rgb(120, 120, 120);
        font-size: 0.4em;
        margin: auto 20px;
        text-indent: 30px;
        margin-bottom: 10px;
    }

    .projects {
        width: 100%;
        height: auto;
        background: rgb(40, 15, 47);
        clip-path: polygon(0 2%, 30% 0, 100% 3%, 100% 100%, 0 100%);
        margin-top: -100px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .projects-title {
        position: relative;
        margin-left: 40px;
        color: rgb(240, 255, 255);
        font-size: 3em;
        display: inline-block;
        margin-bottom: 1px;
    }

    .projects-title::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        transition: width 0.3s;
    }

    .projects:hover .projects-title::after {
        width: 100%;
    }

    .projects > p {
        font-size: 1em;
        color: rgb(105, 105, 105);
        margin-top: 0;
        margin-left: 40px;
    }

    .projects-list-row {
        width: 90%;
        margin: auto;
        padding: 10px;
        padding-bottom: 0;
        padding-top: 0;
        justify-content: center;
    }

    .projects-list-item {
        border: 2px ridge rgb(139, 96, 162);
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgb(77, 77, 77);
        width: 80%;
        height: auto;
        min-height: 200px;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
    }

    .projects-list-item > img {
        width: 80%;
        border-radius: 10px;
        margin-top: 30px;
    }

    .projects-list-item > h2 {
        color: rgb(184, 184, 184);
        font-size: 1.4em;
        font-family: Arial, Helvetica, sans-serif;
    }

    .projects-list-item > p {
        color: rgb(139, 139, 139);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .projects-skills {
        display: flex;
        margin-left: 10px;
        gap: 10px;
    }

    .projects-skills > span {
        border: 2px solid rgb(79, 38, 79);
        padding: 5px;
        border-radius: 20px;
        background-color: rgb(68, 35, 68);
        color: rgb(143, 104, 181);
    }

    .education {
        width: 100%;
        height: auto;
        background: rgb(46, 25, 62);
        clip-path: polygon(0 5%, 80% 0, 100% 3%, 100% 100%, 0 100%);
        padding-top: 30px;
        padding-bottom: 40px;
        margin-top: -50px;
        color: rgb(245, 245, 245);
    }

    .education-title {
        position: relative;
        margin-left: 40px;
        color: rgb(240, 255, 255);
        font-size: 3em;
        display: inline-block;
        margin-bottom: 1px;
    }

    .education-title::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        transition: width 0.3s;
    }

    .education:hover .education-title::after {
        width: 100%;
    }

    .education > p {
        font-size: 1em;
        color: rgb(105, 105, 105);
        margin-top: 0;
        margin-left: 40px;
    }

    .education-list {
        justify-self: center;
        color: purple;
    }

    .education-list-items {
        list-style-type: none;
        padding-left: 0;
    }

    .education-list-items li {
        position: relative;
        padding-right: 30px;
        margin-bottom: 10px;
    }

    .education-list-items li::before {
        content: "";
        position: absolute;
        right: 0;
        top: 8px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid rgb(120, 64, 163);
    }

    .education-item {
        border: 2px groove rgb(105, 105, 105);
        border-radius: 10px;
        box-shadow: -2px 2px 10px rgb(211, 211, 211);
        width: 300px;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    .education-item > img {
        width: 60px;
        float: left;
        margin: 10px;
    }

    .education-institute {
        color: rgb(184, 184, 184);
        margin-top: 6px;
        font-size: 0.7em;
    }

    .education-degree {
        color: rgb(120, 120, 120);
        font-size: 0.5em;
        margin-top: -10px;
    }

    .education-duration {
        color: rgb(87, 87, 87);
        font-size: 0.4em;
        margin-top: -5px;
    }

    .education-descr {
        clear: left;
        color: rgb(120, 120, 120);
        font-size: 0.6em;
        margin: auto 20px;
        text-indent: 30px;
        margin-bottom: 10px;
    }
}
